body { font-family: Georgia, serif; margin: 0; font-size:36px; line-height:40px; } 
h1,h2,h3,h4, #footer { margin:0;padding:0;font-size:32px;line-height:40px;font-weight:normal; font-family:"Roboto Condensed", Helvetica, Arial, sans-serif; } 
p { margin:0;padding:0; } 
h2 { color:#2f76b4; }
h4 { font-weight:bold; }
ul,li { margin:0;padding:0;list-style:none; } 

#container { margin: 0 auto; width: 640px; position:relative; background: #fff; box-shadow: 0 0 10px rgba(0,0,0, 0.5); overflow:hidden; } 
#header { height:80px; /*padding: 0;*/ background:#1d6cb0; } 
#header #logo { display:block; height:40px; text-decoration:none; color:#fff; padding: 20px 80px; } 
#header .hint { /*min-height:40px;*/ cursor: default; padding:20px 50px; background:rgba(13,62,105,0.8); position:absolute; width:540px; left:0; top:80px; color:#fff; font-family:"Roboto Condensed", Helvetica, Arial, sans-serif; z-index:1; -webkit-transition: opacity 0.5s ease-out; } 
#header .hint.hide { opacity: 0; }

#map { height:556px; width:640px; background:#e9e7d8; box-shadow: 0px 0px 10px rgba(0,0,0, 0.5); position:relative; } 
#search { position:absolute; bottom:20px; left:20px; font-family:"Roboto Condensed", Helvetica, Arial, sans-serif; font-size:22px; line-height:25px; height:50px; text-transform:uppercase; padding:10px 10px 10px 80px; background:#1d6cb0; color:#fff; text-align:left; border-radius:30px; width:120px; box-shadow: 0 3px 3px rgba(0,0,0,0.5); }

#current-position { display: none; }
#current-position.active {
  display: block;
  pointer-events:none;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  background: #1d6cb0;
  /*z-index: 1;*/
}

#current-position.active .pulse {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  border: 1px solid #1d6cb0;
  border-radius: 50px;
  box-shadow: 0 0 5px #1d6cb0;

  /* Set up animation*/
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-name: pulse;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-out;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.8;
    }
    80% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 0.8;
    }
    80% {
        -moz-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        -moz-transform: scale(2.5);
        transform: scale(2.5);
        opacity: 0;
    }
}

#vendors { padding:50px; }
#vendors em { color:#eb4859; }
#vendors ul { list-style:none; margin:0 0 40px; padding:0; } 
#vendors li { margin:0; padding:20px 0; background:url(images/dots.gif) no-repeat 0 bottom; }
.vendor { float:left; margin:30px 0 40px; border:10px solid #fff; box-shadow:0 3px 5px rgba(0,0,0,0.5); background:#ccc; }
.maplink { margin:10px 50px 10px 0; width:200px; height:40px; padding:10px; font-size:30px; line-height:40px; border-radius:30px; text-align:center; display:block; color:#fff; background:#eb4859; float:right; }
.spotting { clear:both; }
.location { font-size:32px; }
.open .location,
.times { font-size:40px; line-height:45px; width:270px; float:right; padding:30px 0; }

#vendors li.open { padding-bottom:100px; }

.location,
.vendor,
.times,
.maplink { font-family:"Roboto Condensed", Helvetica, Arial, sans-serif; }

.vendor,
.times,
.spotting,
.maplink { display:none; }

.open .vendor,
.open .times,
.open .spotting,
.open .maplink { display:block; }


#logo,
#search,
#vendors h3,
#vendors .open h3 { background-image:url(images/icons.png); background-repeat:no-repeat; background-position:0 0; }
#search { background-position:0 -75px; }
#vendors h3    { background-position:right -145px; }
#vendors .open h3 { background-position:right -215px; }


#footer h4, #footer a { padding:19px 50px; display:block; background:#e9e7d8; color:#000; text-decoration:none; }
#footer h4 { padding:20px 50px; background:#bab9ad; } 
#footer li { border-bottom:2px solid #bab9ad; }
